name: CI
on:
  push:
  # run on manual trigger
  workflow_dispatch:
  pull_request:
  # trigger a cron job every monday at 8am
  schedule:
    - cron: '00 08 * * MON'

jobs:
  build-docker:
    name: Build Docker image
    runs-on: ubuntu-latest
    strategy:
      fail-fast: false
    steps:
      - name: Check out repository
        uses: actions/checkout@v2
      
      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v2
      
      - name: Build Docker image
        uses: docker/build-push-action@v4
        with:
          context: .
          file: "Dockerfile"
          tags: openipe:latest
          push: false
          outputs: type=docker,dest=/tmp/openipe-docker.tar

      - name: Upload Docker artifact
        uses: actions/upload-artifact@v4
        with:
          name: openipe-docker
          path: /tmp/openipe-docker.tar

  ci-tests:
    name: ${{ matrix.test-script }}
    runs-on: ubuntu-latest
    needs: build-docker
    strategy:
      fail-fast: false
      matrix:
        test-script: [
          './scripts/regression_tests.sh',
          './scripts/isolation_tests.sh',
          './scripts/framework_hello.sh',
          './scripts/framework_attestation.sh',
          './scripts/framework_hello.sh ; ./scripts/symbolic_ipe.sh',
          './scripts/framework_hello.sh ; ./scripts/symbolic_firmware.sh'
        ]
    steps:
      - name: Check out repository
        uses: actions/checkout@v2

      - name: Download Docker artifact
        uses: actions/download-artifact@v4
        with:
          name: openipe-docker
          path: /tmp

      - name: Load Docker image
        run: docker load --input /tmp/openipe-docker.tar

      - name: Run ${{ matrix.test-script }}
        uses: addnab/docker-run-action@v3
        with:
          image: openipe:latest
          options: -v ${{ github.workspace }}/core:/openipe/core
          run: ${{ matrix.test-script }}

  push-image:
    name: Push Docker image
    runs-on: ubuntu-latest
    # only run when build and ci-tests both succeed
    needs: [build-docker, ci-tests ]
    steps:
      - name: Download Docker artifact
        uses: actions/download-artifact@v4
        with:
          name: openipe-docker
          path: /tmp

      - name: Load Docker image
        run: docker load --input /tmp/openipe-docker.tar
      
      - name: Log in to the container registry
        uses: docker/login-action@v3
        with:
          registry: ghcr.io
          username: ${{ github.actor }}
          password: ${{ secrets.GITHUB_TOKEN }}

      - name: Push Docker image
        run: |
          docker tag openipe:latest ghcr.io/${{ github.repository_owner }}/openipe:latest
          docker push ghcr.io/${{ github.repository_owner }}/openipe:latest